VITE_SUPABASE_URL=https://gvokhyfwghyvbljjeckx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2b2toeWZ3Z2h5dmJsamplY2t4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ4MDYyOTAsImV4cCI6MjA1MDM4MjI5MH0.NuZGzXexo73JeOU3charBAASZAITSSQbgl0zvtGRY1c